*{margin: 0;padding:0;}
a {
  color: #0277bd;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #0277bd;
}
nav a, .menu ul li a, .menu ul li a:hover {
  color: #212;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 0px solid #fff;
}
body{font-family: 'Raleway'}
nav{
  padding: 0.5em;
  box-sizing: border-box;
  position: block;width: 100%;height: 50px;color:#fff;
  top: 0; left: 0;
  background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%);
background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=0 );
}
h2{text-align: center;margin: 10px 0px;}
.logo{float:left;width: 50%;line-height: 38px;}
.logo img{width: 200px;vertical-align: middle;padding: 0px 0px 0px 15px;}
.menu{width: 50%;float: right;text-align: right;line-height: 40px}
.menu li{display: inline;margin: 0px 15px 0px 15px;}
.menu li a{color: #fff;text-decoration: none;}
.menu li a:hover{text-decoration: underline;}
.hero{background-image: url('../img/shoeangel-bg.jpg');width: 100%;height: 100%;background-size: cover;background-attachment:fixed; }
.bg{height: 100vh;width: 100%;}
.btn {
  background: #0050b2;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 0.25em 0.75em;
  border-radius: 2px;
  margin-top: 2em;
  font-size: 1.2em;
  border: none;
}
.container{
  width:50%;
  margin: 3em auto 0;

}
.hero-title{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #212121;
  font-size: 1.4em;
}
.hero-title h1 {
  background: rgba(255, 255, 255, 1);
  padding: 0.75em 1em;
  border-radius: 2px;
}
.subtitle {
  font-weight: 300;
  font-size: 0.65em;
}
.intro{text-align: center;height: auto;}
.intro p, .container p{text-align: left;line-height: 1.5em;margin: auto;padding: 0px 0 20px 0;}
.brands p{width: 50%;line-height: 1.5em;margin: auto;padding: 0px 0 20px 0;}
.brand-name{height: auto;margin: 95px 0px 95px 0px;}
.cards{height: auto;text-align: center;}
.brand-box{width: 100%;height: 100%;display: inline-block;}
.faq{text-align: center;height: auto;}
.faq p{font-weight: bold;text-align: left;line-height: 1.5em;margin: auto;padding-bottom: 20px;}
.answer{font-weight: normal;}
.contact{text-align: center;height: auto;}
.contact p{text-align: left;line-height: 1.5em;margin: 0px 0px 20px 0px;}
.contact-form{text-align: left;margin: auto;}
input{width:95%;height: 30px;margin: 10px 0px;}
.submit{width:150px; background-color: transparent;color: #282828;border: solid 1px gray;}
.submit:hover{background-color: #282828;color:#fff;border: none;cursor:pointer;transition: .2s ease-in-out;}
footer{
  margin: 0 auto;
  width: 100%;
  padding: 1.25em 0;
  background: #212121;
  color: #5BBBF5;
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Arial', sans-serif;
  font-size: 0.9em;
  text-align: center;
}
footer div {
  max-width: 350px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.75);
}
footer .copyright {
  color: rgba(255, 255, 255, 0.5);
}
footer div p {
  margin: 0.25em 0;
}
img {
  max-width: 100%;
}

/* MEDIA QUERY*/
@media only screen and (max-width: 960px) {
  .container{
    width: 95%;
  }
  .bg {
    display: none;
  }
  .bg2 {
    display: block;
    text-align: center;
    max-width: 960px;
    width: 100%;
    padding: 0 0.5em 2em;
    box-sizing: border-box;
    background: #fff;
    color: #212;
  }
  .bg2 h1 {
    font-weight: normal;
    font-size: 1.5em;
    margin-top: 3em;
  }
  .hide-sm {
    display: none;
  }
}

@media only screen and (min-width: 961px) {
  .container{
    width: 80%;
  }
  nav {
    position: fixed;
  }
  .bg {
    display: block;
  }
  .bg2 {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .menu{display: none;}
  .bg{height: 400px;}
  .hero-title{height:auto;padding: 160px 0px;}
}

/* Gray Scale Hover */
.hover:hover {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}
.hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

/*CARD QUERIES*/

/* 1 column: 320px */
.cards {
  margin: 0 auto;
	width: 100%;
}
.cards img {
  max-width: 800px;
  width: 100%;
  margin-top: 1em;
}
.cards .brand-box {
  margin-bottom: .25rem;
}

/* 2 columns: 600px */
@media only screen and (min-width: 600px) {
  .cards .brand-box {
		width: 48%;
	}
	.cards .brand-box:nth-child(2n+0) {
		margin-right: 0;
	}
}

/* 4 columns: 992px and up */
@media only screen and (min-width: 992px) {
  .cards .brand-box {
		width: 23.076923076923077%;
	}
	.cards .brand-box:nth-child(3n+0) {

	}
	.cards .brand-box:nth-child(4n+0) {

	}
}
